@tailwind base;
@tailwind components;
@tailwind utilities;


li{
    @apply p-4  text-slate-500 hover:underline decoration-indigo-700  underline-offset-8 mx-auto my-0 w-3/4 mt-2 rounded-lg ;
    transition: 2s linear ease-in-out;
}

.col li{
    @apply  text-white  p-0 ;
}

li.active{
    @apply text-black font-bold underline;
}

i{
    color: rgb(255, 255, 255);
}

.mobile-menu{
    background: rgb(250, 248, 255);
}
.hero-img{
    background:url("../Images/img\ \(6\).png") center no-repeat;
    background-size: cover;
    width: 220px;
    height: 250px;
}
.hero-img2{
    background:url("../Images/img\ \(13\).png") center no-repeat;
    background-size: cover;
    width: 220px;
    height: 250px;
}
.svg-img{
    background:url("../Images/programming-animate.svg") center no-repeat;
    background-size: cover;
    width: 220px;
    height: 250px;
}
i{
    color: rgb(140, 0, 255);
}

 i.fab{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: indigo;
 }

 .contact-icons i.fab{
  color: white;
 }


.boxes img{
    width:400px;
    height: 200px;
    @apply rounded-lg;
}

input,textarea{
    @apply p-2 rounded-sm bg-blue-100;
}
input::placeholder,textarea::placeholder{
    @apply text-blue-950;
}

input[type="submit"]{
    @apply bg-gradient-to-r from-blue-300 to-cyan-500;
}

footer{
    background: linear-gradient(to right,rgba(18, 18, 185, 0.384),rgba(76, 0, 130, 0.678)),url("../Images/img\ \(7\).jpg") center no-repeat;
    background-size: cover;
}
